
.dog{
    background-image: url(/src/assets/dogs.jpg);
    height: 100vh;
    width: 100;
    object-fit: contain;
}

.content{

    text-align: center;
    position: absolute;
    margin:auto;
    width: 100%;
    height: 100%;
    top :40vh;
}

.h1{

    font-size: 4rem;
    color: #fff;
}

.p{

    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color:#fff;
}

.port{

    
    text-align: center;
    position: absolute;
    margin:auto;
    width: 100%;
    height: 100%;
    top :55vh;
    margin: 1rem .2rem;
    
    
}

@media screen and (max-width: 640px) {

    .h1{
        font-size: 3rem;
    }

    .p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}